vendor/etc/camera/vidhance.lic
vendor/lib64/libQnnGpu.so
recovery.img
system_ext/priv-app/SettingsMoto/SettingsMoto.apk
system_ext/apex/com.android.vndk.v30.apex
radio/NON-HLOS_11.bin
radio/NON-HLOS.bin
product/priv-app/MotoDesktop/MotoDesktop.apk
product/priv-app/AiServices/AiServices.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Messages/Messages.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/app/Gmail2/Gmail2.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
product/app/Maps/Maps.apk
fs_config_dirs
fs_config_files
